{% extends "base.html" %}

{% block head %}
  <title>Add crash</title>
  <style type="text/css">
    #map { width: 100%; height: 200px; }
  </style>
{% endblock %}

{% macro victim(victim=None) -%}
  <div class="panel panel-default victim-form-group">
    <div class="panel-heading">
      <h3 class="panel-title">Victim</h3>
    </div>
    <div class="panel-body">
      <!-- First name -->
      <div class="form-group form-group-lg">
        <div class="col-sm-12">
          <input type="text" class="form-control firstname-input" 
                 placeholder="First Name"
                 {{ "value=" + victim.first if victim }} >
        </div>
      </div>
      <!-- Last name -->
      <div class="form-group form-group-lg">
        <div class="col-sm-12">
          <input type="text" class="form-control lastname-input"
                 placeholder="Last Name"
                 {{ "value=" + victim.last if victim }} >
        </div>
      </div>
      <!-- Age -->
      <div class="form-group form-group-lg">
        <div class="col-sm-12">
          <input type="number" class="form-control age-input"
                 placeholder="Age"
                 {{ "value=" + victim.age|string if victim }} >
        </div>
      </div>
      <!-- Victim delete button -->
      <div class="form-group form-group-lg">
        <div class="col-sm-offset-10 col-sm-2">
          <button type="submit" class="btn btn-danger btn-xs del-victim-btn">Delete</button>
        </div>
      </div>
    </div><!-- div class="panel-body" -->
  </div><!-- div class="panel panel-default victim-form-group" -->
{%- endmacro %}

{% macro tag(tag=None) -%}
  <div class="panel panel-default tag-form-group">
    <div class="panel-heading">
      <h3 class="panel-title">Tag</h3>
    </div>
    <div class="panel-body">
      <!-- Tag name input -->
      <div class="form-group form-group-lg">
        <div class="col-sm-12">
          <input type="text" class="form-control tag-input"
                 placeholder="Tag"
                 {{ "value=" + tag.name if tag }} >
        </div>
      </div>
      <!-- Tag delete button -->
      <div class="form-group form-group-lg">
        <div class="col-sm-offset-10 col-sm-2">
          <button type="submit" class="btn btn-danger btn-xs del-tag-btn">Delete</button>
        </div>
      </div>
    </div><!-- div class="panel-body" -->
  </div><!-- div class="panel panel-default tag-form-group" -->
{%- endmacro %}

{% macro link(link=None) -%}
  <div class="panel panel-default link-form-group">
    <div class="panel-heading">
      <h3 class="panel-title">Link</h3>
    </div>
    <div class="panel-body">
      <!-- Link name input -->
      <div class="form-group form-group-lg">
        <div class="col-sm-12">
          <input type="text" class="form-control link-name-input"
                 placeholder="Name"
                 {{ "value=" + link.name if link }} >
        </div>
      </div>
      <!-- Link address input -->
      <div class="form-group form-group-lg">
        <div class="col-sm-12">
          <input type="text" class="form-control link-input"
                 placeholder="Link"
                 {{ "value=" + link.link if link }} >
        </div>
      </div>
      <!-- Link delete button -->
      <div class="form-group form-group-lg">
        <div class="col-sm-offset-10 col-sm-2">
          <button type="submit" class="btn btn-danger btn-xs del-link-btn">Delete</button>
        </div>
      </div>
    </div><!-- div class="panel-body" -->
  </div><!-- div class="panel panel-default link-form-group" -->
{%- endmacro %}

{% macro crash_info(crash=None) -%}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Crash Info</h3>
    </div>
    <div class="panel-body">
      <div class="form-group form-group-lg">
        <div class="col-sm-12">
          <input type="datetime-local" class="form-control" id="date-input"
                 placeholder="Date" 
                 {{ "value=" + crash.date.isoformat() if crash }} >
                 <!-- Value example: "2001-01-01T01:01:01.001" -->
        </div>
      </div>
      <div class="form-group form-group-lg">
        <div class="col-sm-12">
          <input type="number" class="form-control" id="latitude-input"
                 placeholder="Latitude"
                 {{ "value=" + crash.latitude | string if crash }} >
        </div>
      </div>
      <div class="form-group form-group-lg">
        <div class="col-sm-12">
          <input type="number" class="form-control" id="longitude-input"
                 placeholder="Longitude"
                 {{ "value=" + crash.longitude | string if crash }} >
        </div>
      </div>
      <div id="map"></div>
    </div><!-- div class="panel-body" -->
  </div><!-- div class="panel panel-default" -->
{%- endmacro %}

{% block body %}
  <div class="container" style="width:500px;">
    <form id="crash-form" class="form-horizontal">
      <!-- Victim -->
      <div id="victims-container">
        {% if crash %}
          {% for _victim in crash.victims %}
            {{ victim(_victim) }}
          {% endfor %}
        {% else %}
          {{ victim() }}
        {% endif %}
      </div><!-- div id="victims-container" -->
      <!-- Victim add button -->
      <div class="form-group form-group-lg">
        <div class="col-sm-1">
          <button id="add-victim-btn" type="submit" class="btn btn-primary btn-xs">Add Victim</button>
        </div>
      </div>

      <!-- Tags -->
      <div id="tags-container">
        {% if crash %}
          {% for _tag in crash.tags %}
            {{ tag(_tag) }}
          {% endfor %}
        {% else %}
          {{ tag() }}
        {% endif %}
      </div><!-- div id="tags-container" -->
      <!-- Tag add button -->
      <div class="form-group form-group-lg">
        <div class="col-sm-1">
          <button id="add-tag-btn" type="submit" class="btn btn-primary btn-xs">Add Tag</button>
        </div>
      </div>

      <!-- Links -->
      <div id="links-container">
        {% if crash %}
          {% for _link in crash.links %}
            {{ link(_link) }}
          {% endfor %}
        {% else %}
          {{ link() }}
        {% endif %}
      </div><!-- div id="links-container" -->
      <!-- Link add button -->
      <div class="form-group form-group-lg">
        <div class="col-sm-1">
          <button id="add-link-btn" type="submit" class="btn btn-primary btn-xs">Add Link</button>
        </div>
      </div>

      <!-- Date, Latitude, and Longitude -->
      <div id="crash-info-container"> {{ crash_info(crash) }} </div>

      <!-- Create button -->
      <div class="form-group form-group-lg">
        <div class="col-sm-2">
          <button id="create-crash-btn" type="submit" class="btn btn-primary btn-lg">
            {{ "Edit" if crash else "Create" }}
          </button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">

$(document).ready(function () {
  // Victim add & delete buttons:
  $(".del-victim-btn").click(function (event) {
    event.preventDefault();
    $(this).parents(".victim-form-group").remove();
  });
  $("#add-victim-btn").click(function (event) {
    event.preventDefault();
    $(".victim-form-group").first().clone(true).appendTo("#victims-container");
  });

  // Tag add & delete buttons:
  $(".del-tag-btn").click(function (event) {
    event.preventDefault();
    $(this).parents(".tag-form-group").remove();
  });
  $("#add-tag-btn").click(function (event) {
    event.preventDefault();
    $(".tag-form-group").first().clone(true).appendTo("#tags-container");
  });

  // Link add & delete buttons:
  $(".del-link-btn").click(function (event) {
    event.preventDefault();
    $(this).parents(".link-form-group").remove();
  });
  $("#add-link-btn").click(function (event) {
    event.preventDefault();
    $(".link-form-group").first().clone(true).appendTo("#links-container");
  });

  // Create button:
  $("#create-crash-btn").click(function (event) {
    // Send crash data to server:
    // - Collect victim(s) data
    // - Collect tag(s) data
    // - Collect link(s) data
    // - Collect rest of crash data
    // - POST as JSON

    event.preventDefault();
    var crash = {
          victims: [],
          tags: [],
          links: []
        };

    $(".victim-form-group").each(function() {
      crash.victims.push({
        first: $(this).find(".firstname-input").first().val(),
        last: $(this).find(".lastname-input").first().val(),
        age: parseInt($(this).find(".age-input").first().val()),
      });
    });
    $(".tag-form-group").each(function() {
      crash.tags.push($(this).find(".tag-input").first().val());
    });
    $(".link-form-group").each(function() {
      crash.links.push({
        name: $(this).find(".link-name-input").first().val(),
        link: $(this).find(".link-input").first().val()
      });
    });
    crash.date = $("#date-input").first().val();
    crash.latitude = $("#latitude-input").first().val();
    crash.longitude = $("#longitude-input").first().val();

    $.ajax({
      type: "POST",
      url: "{{ "/crash/" + crash.id | string if crash else "/crash" }}",
      data: JSON.stringify(crash),
      dataType: "json",
      contentType: "application/json",
      success: function() {
        alert("Sent crash data");
      }
    });
  });
});

var map, marker = null;
function initMap() {
  var addMarker = function(latitude, longitude) {
    if (marker != null) {
      marker.setMap(null);
    }
    marker = new google.maps.Marker({
      position: { lat: latitude, lng: longitude },
      map: map
    });
  };

  map = new google.maps.Map(document.getElementById("map"), {
    center: {
      lat: {{ crash.latitude | string if crash else 37.5 }},
      lng: {{ crash.longitude | string if crash else -122.1 }}
    },
    zoom: 14,
    panControl: false,
    zoomControl: false,
    mapTypeControl: false,
    scaleControl: false,
    streetViewControl: false,
    overviewMapControl: false
  });

  {% if crash %}
    addMarker({{ crash.latitude }}, {{ crash.longitude }});
  {% endif %}

  map.addListener('click', function(event) {
    $("#latitude-input").first().val(event.latLng.lat());
    $("#longitude-input").first().val(event.latLng.lng());
    addMarker(event.latLng.lat(), event.latLng.lng());
  });
}

  </script>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNR_PQxoUtbFLRaLGV3NNZIq7sjqKojYA&callback=initMap">
  </script>
{% endblock %}
