{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
  <div id="list-container" class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Link</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="list-tbody">
        {% for a in articles %}
          <tr>
            <td>{{ a.title }}</td>
            <td><a href="{{a.link}}" target="_blank">{{ a.link }}</a></td>
            <td>
              <button type="button" class="btn btn-danger btn-xs del-article-btn" article="{{ a.id }}">del</button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/article.js') }}">
  </script>
{% endblock %}
