{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
  <div id="list-container" class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>Title</th>
          <th>Link</th>
          <th>Weight</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="list-tbody">
        {% for a in articles %}
          <tr>
            <td>{{ a.id }}</td>
            <td>{{ a.title }}</td>
            <td><a href="{{a.link}}" target="_blank">{{ a.link }}</a></td>
            <td class={{"threshold_reached" if a.weight >= 15 else "threshold_unreached"}}>{{a.weight}}</td>
            <td>
              <!-- TODO: replace non-standard attributes with data-* -->
              <button type="button" class="btn btn-danger btn-xs del-article-btn" article="{{ a.id }}">del</button>
              <button type="button" class="btn btn-success btn-xs load-article-btn" data-article="{{ a.id }}">load</button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- article body modal -->
  <div class="modal fade" id="article-modal" tabindex="-1" role="dialog" aria-labelledby="article-body">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dissmiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="article_body">Article body</h4>
        </div>
        <div class="modal-body" id="article-modal-body">
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/article.js') }}">
  </script>
{% endblock %}
