{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
  <div id="list-container" class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Link</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="list-tbody">
        {% for a in articles %}
          <tr>
            <td>{{ a.title }}</td>
            <td>{{ a.link }}</td>
            <td>
              <form action='/article/{{ a.id }}/' method='post'>
                <button type="submit" class="btn btn-danger btn-xs">del</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

