{% extends "base.html" %}
{% import "lib.html" as lib %}

{% block head %}
  <title>Add crash</title>
  <style type="text/css">
    #map { width: 100%; height: 200px; }
  </style>
{% endblock %}

{% macro victim(victim=None) -%}
  {% call lib.panel("Victim", "victim-form-group") %}
      {% if victim %} 
        {{ lib.panel_input("First Name", "firstname-input", value=victim.first) }}
        {{ lib.panel_input("Last Name", "lastname-input", value=victim.last) }}
        {{ lib.panel_input("Age", "age-input", type="number", value=victim.age) }}
      {% else %}
        {{ lib.panel_input("First Name", "firstname-input") }}
        {{ lib.panel_input("Last Name", "lastname-input") }}
        {{ lib.panel_input("Age", "age-input", type="number") }}
      {% endif %}
      {{ lib.panel_intr_sml_btn("Delete", class="del-victim-btn") }}
  {% endcall %}
{%- endmacro %}

{% macro tag(tag=None) -%}
  {% call lib.panel("Tag", "tag-form-group") %}
      {% if tag %} 
        {{ lib.panel_input("Tag", "tag-input", value=tag.name) }}
      {% else %}
        {{ lib.panel_input("Tag", "tag-input") }}
      {% endif %}
      {{ lib.panel_intr_sml_btn("Delete", class="del-tag-btn") }}
  {% endcall %}
{%- endmacro %}

{% macro link(link=None) -%}
  {% call lib.panel("Link", "link-form-group") %}
      {% if link %} 
        {{ lib.panel_input("Name", "link-name-input", value=link.name) }}
        {{ lib.panel_input("Link", "link-input", value=link.link) }}
      {% else %}
        {{ lib.panel_input("Name", "link-name-input") }}
        {{ lib.panel_input("Link", "link-input") }}
      {% endif %}
      {{ lib.panel_intr_sml_btn("Delete", class="del-link-btn") }}
  {% endcall %}
{%- endmacro %}

{% macro crash_info(crash=None) -%}
  {% call lib.panel("Crash Info") %}
      {% if crash %} 
        {{ lib.panel_input("Date", "date-input",
                           value=crash.date.isoformat(),
                           type="datetime-local") }}
        {{ lib.panel_input("Latitude", "latitude-input",
                           value=crash.latitude,
                           type="number") }}
        {{ lib.panel_input("Longitude", "longitude-input",
                           value=crash.longitude,
                           type="number") }}
      {% else %}
        {{ lib.panel_input("Date", "date-input", type="datetime-local") }}
        {{ lib.panel_input("Latitude", "latitude-input", type="number") }}
        {{ lib.panel_input("Longitude", "longitude-input", type="number") }}
      {% endif %}
      <div id="map"></div>
  {% endcall %}
{%- endmacro %}

{% block body %}
  <div class="container" style="width:500px;">
    <form id="crash-form" class="form-horizontal">
      <!-- Victim -->
      <div id="victims-container">
        {% if crash %}
          {% for _victim in crash.victims %}
            {{ victim(_victim) }}
          {% endfor %}
        {% else %}
          {{ victim() }}
        {% endif %}
      </div><!-- div id="victims-container" -->
      {{ lib.panel_extr_left_sml_btn("Add Victim", "add-victim-btn") }}

      <!-- Tags -->
      <div id="tags-container">
        {% if crash %}
          {% for _tag in crash.tags %}
            {{ tag(_tag) }}
          {% endfor %}
        {% else %}
          {{ tag() }}
        {% endif %}
      </div><!-- div id="tags-container" -->
      {{ lib.panel_extr_left_sml_btn("Add Tag", "add-tag-btn") }}

      <!-- Links -->
      <div id="links-container">
        {% if crash %}
          {% for _link in crash.links %}
            {{ link(_link) }}
          {% endfor %}
        {% else %}
          {{ link() }}
        {% endif %}
      </div><!-- div id="links-container" -->
      {{ lib.panel_extr_left_sml_btn("Add Link", "add-link-btn") }}

      <!-- Date, Latitude, and Longitude -->
      <div id="crash-info-container"> {{ crash_info(crash) }} </div>

      <!-- Create button -->
      <div class="form-group form-group-lg">
        <div class="col-sm-2">
          <button id="create-crash-btn" type="submit" class="btn btn-primary btn-lg">
            {{ "Edit" if crash else "Create" }}
          </button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript"
    src="{{ url_for('static', filename='js/crash.js') }}">
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNR_PQxoUtbFLRaLGV3NNZIq7sjqKojYA&callback=initMap">
  </script>
{% endblock %}

