{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
  <div id="list-container" class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>Victims</th>
          <th>Date</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Links</th>
          <th>Tags</th>
          <th>Created by</th>
        </tr>
      </thead>
      <tbody id="list-tbody">
        {% for c in crashes %}
          <tr>
            <td><a href='/crash/{{ c.id }}/edit'>{{ c.id }}</a></td>
            <td>
              {% for v in c.victims %}
                {{ v.first }} {{ v.last }} ({{ v.age }})
              {% endfor %}
            </td>
            <td>{{ c.date }}</td>
            <td>{{ c.latitude }}</td>
            <td>{{ c.longitude }}</td>
            <td>
              {% for l in c.links %}
                <a href="{{ l.link }}" target="_blank">{{ loop.index }}</a>
              {% endfor %}
            </td>
            <td>
              {% for t in c.tags %}
                {{ t.name }}
              {% endfor %}
            </td>
            <td>
              {% for cb in c.created_by %}
                {{ cb.user.username }}
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

