{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
  <dev id="list-container" class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Victims</th>
          <th>Date</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Links</th>
          <th>Tags</th>
        </tr>
      </thead>
      <tbody id="list-tbody">
      </tbody>
    </table>
  </dev>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
var crashTableRow = function(crash) {
  var $row = $("<tr />"),
      victims = crash.victims.reduce(function(prev, curr) {
          return prev + curr.first + " " + curr.last + " (" + curr.age + "), "; 
        }, "").slice(0, -2),
      links = crash.links.reduce(function(prev, curr, index) {
          return prev +
            $("<a />", {
              text: index + 1,
              href: curr.link,
              target: "_blank"
            }).prop("outerHTML") + 
            ", ";
        }, "").slice(0, -2),
      tags = crash.tags.reduce(function(prev, curr) {
          return prev + curr + ", ";
        }, "").slice(0, -2);

  $row.append("<td>" + victims + "</td>");
  $row.append("<td>" + crash.date + "</td>");
  $row.append("<td>" + crash.latitude + "</td>");
  $row.append("<td>" + crash.longitude + "</td>");
  $row.append("<td>" + links + "</td>");
  $row.append("<td>" + tags + "</td>");

  return $row;
};

$.ajax({url: "/crash/all"})
  .done(function(crashes) {
      for (var ii = 0; ii < crashes.length; ++ii) {
        var crash = crashes[ii];
        $("#list-tbody").append(crashTableRow(crash));
      }
    });

  </script>
{% endblock %}
